header {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding: 10px;
}

.auth-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
img {
    max-width: 100%;
    height: auto;
}